body {
    text-align: center;
}

#cat1, #cat2 {
    padding: 25px 25px 10px 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

.container {
    display: grid;
    grid-column-gap: 25px;
    grid-template-columns:40% 60%; 
}

#catNamesList {
    text-align: left;
}

#catNamesList ul {
    list-style-type: square;
    list-style-position: outside;
    list-style-image: none;
}

#catNamesList LI {
    cursor: pointer;
}